body{
    /* background-image: url('https://images.pexels.com/photos/2098427/pexels-photo-2098427.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500'); */
    background-color: #373838;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/* NAvbar  */
#navbar{
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid #eee; */
    align-items: center;
    width: 100vw;
    
}
.nav-item{
     
    margin: 2px 20px;
}
.nav-item img{
    width: 100px;
    height: 70px;
    filter: invert(100%);
}
.nav-item ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    width: 40vw;
    color: #eee;
    font-size: 1.5rem;
    font-weight: bold;
}
ul li:hover{
    color: #636464;
}


table{
    width: 80%;
    margin: 100px auto;
    background: #141414;
    color: #eee;
    font-size: 1.25rem;
    
    
}

table.list{
    text-align: center;
    width: 100%;
}

td{
    border: 1px solid rgb(204,200,200);
    text-align: left;
    padding: 8px 15px;
}

tr:nth-child(even), table.list thread> tr{
    background-color: rgb(204,200,200);
}

input[type="text"],input[type="number"]{
    width:91%;
    padding:12px 20px;
    margin:8px 0;
    display: inline-block;
    border: 1px solid rgb(165,161,161);
    border-radius: 4px;
}

input[type="submit"],input[type="reset"]{
    background: #eee;
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    background: #4b99d8;
}

input[type="reset"]:hover{
    background: #4b99d8;
}

button{
    background: #eee;
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

button:hover{
    background:#4b99d8 ;
}