*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px ;
}
.container h1{
    background-image: linear-gradient(to right,#db1507,#06c1da,#06da11);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}