.body{
    box-sizing: border-box;
    display: block;
}
.container{
    border: 2px solid red;
    display:inline-block;
    width: 43%;
    height: 710px;
    position: absolute;
    left: 400px;
    margin: auto ;
    /* position: absolute; */
    text-align: center;
}
h3{
    text-align: center;
}
.paragraph{
    display: inline-block;
    width: 90%;
    margin: auto;
     
    text-align: center;
}

.firstpara{
    display: inline-block;
    width: 90%;
    margin: auto;
     
    text-align: center;
}
.secondpara{
    display: inline-block;
    width: 90%;
    margin: auto;
      
    text-align: center;
}
.thirdpara{
    display: inline-block;
    width: 90%;
    margin: auto;
      
    text-align: center;
}
p{
    display: inline-block;
    width: 90%;
    margin: 10px auto;
      
    text-align: center;
}
.firstpara p::first-letter{
    font-size: 50px;
    margin-top: 10px;
}
